# Lambda

As funções anônimas — em Python também chamadas de expressões lambda, tem utilidade pode não ser muito óbvia à primeira vista. Uma função anônima é útil principalmente nos casos em que precisamos de uma função para ser passada como parâmetro para outra função, e que não será mais necessária após isso, como se fosse “descartável”.

Não aceita mais de uma instrução, tem como vantagem que não precisa definir nome de função, e normalmente é usada com map, reduce, e filter. Não é preciso nome-a-la dentro do código, é uma função inline, dando flexibilidade ao usuário.
Resumindo: é uma forma de criar uma função sem precisar defini-la com a vantagem de economizar linhas no código. Veja este exemplo 

```python
def duplica(n):
    return x * 2
```

Pode ser reescrita da seguinte forma em Lambda:

```python
duplica = lambda x: x * 2
```

Dessa forma, sempre que quisermos usar a função duplica, basta chamar como uma função normal, usando um número como argumento.

As funções lambda x: <operações que se queiram realizar> são chamadas de funções anônimas,

In [ ]:
def duplica(n):
    return x * 2

print(duplica(2))

In [5]:
duplica_lambda = lambda x: x*2
print(duplica_lambda(2))

Podemos fazer o mesmo para diversas funções reduzind o código. Mas lembrando que uma função **lambda** você vai trocar praticidade por legibilidade do código.

In [ ]:
def ao_quadrado(num):
    return num ** 2
print(ao_quadrado(3))

In [ ]:
ao_quadrado_lambda = lambda x: x **2
print(ao_quadrado_lambda(3))

## Aplicando Lambda em Vetores

Funções lambdas se tornam muito úteis quando precisamos aplicar funções customizadas a vetores, uma única vez, para limpeza de dados por exemplo. Usaremos exemplos simples e aplicações usando List Comprehension e Map

In [16]:
import numpy as np

vetor = [0, 1, 2, 3, 4, 5, 6]

vetor_duplicado = [x * 2 for x in vetor]
vetor_dup_lambda = list(map(lambda x: x*2, vetor))

print(vetor)
print(vetor_duplicado)
print(vetor_dup_lambda)

[0, 1, 2, 3, 4, 5, 6]
[0, 2, 4, 6, 8, 10, 12]
[0, 2, 4, 6, 8, 10, 12]

## Aplicando Lambda em DataFrames

Aplicando lambda a datasets é algo que se faz com grande frequência, para limpeza, indexação e categorização. Geralmente utiliza-se a função apply para essas apicações.

In [29]:
import pandas as pd

df = pd.read_csv('iris-dataset.csv')
# Adiciona uma nova coluna, Cat_upper, que é a categoria em caixa alta
df['Cat_upper'] = df['Iris-setosa'].apply(lambda x: x.upper())
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa    Cat_upper
0  4.9  3.0  1.4  0.2  Iris-setosa  IRIS-SETOSA
1  4.7  3.2  1.3  0.2  Iris-setosa  IRIS-SETOSA
2  4.6  3.1  1.5  0.2  Iris-setosa  IRIS-SETOSA
3  5.0  3.6  1.4  0.2  Iris-setosa  IRIS-SETOSA
4  5.4  3.9  1.7  0.4  Iris-setosa  IRIS-SETOSA

## Referências

[https://chrisalbon.com/python/data_wrangling/pandas_apply_operations_to_dataframes/]

[https://dbader.org/blog/python-lambda-functions]

[https://www.youtube.com/watch?v=t9-w8iekj1o]

[https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions]