# Introdução ao R

Este material é inspirado nas seguintes referências:

[Quick intro to R](https://www.statmethods.net/input/datatypes.html)

[An Introduction to R](https://cran.r-project.org/doc/manuals/r-release/R-intro.pdf)

## O básico de R

R é um ambiente para cálculos estatísticos e gráficos. Está disponível como software livre e você pode baixá-lo (aqui)[https://www.r-project.org/]


## R studio
R Studio é uma IDE para R e está disponível (aqui)[https://www.rstudio.com]


### Pacotes, instalação e importação 

Após a instalação do R, estará disponível em seu computador um conjunto amplo de ferramentas. Para acessar um conjunto de ferramentas disponíveis em um pacote R, basta utilizar o comando **library**, passando como argumento o nome do pacote.

library(readxl)

Caso o pacote não esteja disponível localmente, basta utilizar o comando **install.packages**

In [67]:
install.packages("readxl")

library(readxl)

Warning message:
"unable to access index for repository https://mran.microsoft.com/snapshot/2017-09-01/src/contrib:
  não foi possível abrir o arquivo de destino 'C:\Users\danie\AppData\Local\Temp\Rtmp8smJSh\file75013c751a1', motivo 'No such file or directory'"Warning message:
"unable to access index for repository http://www.stats.ox.ac.uk/pub/RWin/src/contrib:
  não foi possível abrir o arquivo de destino 'C:\Users\danie\AppData\Local\Temp\Rtmp8smJSh\file75077053fb3', motivo 'No such file or directory'"Warning message:
"package 'readxl' is not available (for R version 3.4.3)"Warning message in gzfile(file, mode):
"não foi possível abrir o arquivo comprimido 'C:\Users\danie\AppData\Local\Temp\Rtmp8smJSh/libloc_205_61a9f705.rds', motivo provável 'No such file or directory'"

ERROR: Error in gzfile(file, mode): não é possível abrir a conexão

In [ ]:
# History acessa o histórico de comandos
# history()

# Caso tenha dúvidas sobre um comando, basta acessá-lo somente pelo nome
c

# Para acessar a ajuda sobre um determinado comando, basta digitar ? antes do nome do comando ou usar o comando help
?c
help(c)

In [ ]:
# Obtendo o diretório atual
getwd()

# Alterar o diretório
setwd('Novo diretório')

In [ ]:
# Executando um script externo
source('script.R')

In [ ]:
# Listando os objetos que estão na sessão
ls()
objects()

# Removendo objetos que estão na sessão
rm(x, y, z)

# Removendo todos os objetos da sessão
rm(list=ls())

### Variáveis e tipos

In [72]:
# Atribuindo valores a uma variável
x <- c(1, 2, 3, 4)
x
# Pode-se, também, usar a função assign

assign("y", c(5, 6, 7, 8))
y
# Atribuição também funciona em outra direção

c(9, 10, 11, 12) -> z
z

[1] 1 2 3 4

[1] 5 6 7 8

[1]  9 10 11 12

#### Tipos em R
Em R temos os tipos:
* **númerico**: que envolve todos os tipos de números
* **caracter**: que envolve os tipo relativos a texto
* **factor**: que envolve os tipo categóricos
* **matrix**: que é relacionado aos vetores bidimensionais
* **dataframe**: relacionado a conjunto de dados
* **lógico**: valores booleanos

In [ ]:
class(3)
class(2.5)
class('a')
class('tipo')
v <- c(1, 2, 3, 4)
class(v)
f <- factor(0, 1, 1, 0)
class(f)
m <- matrix(v, byrow=TRUE, nrow=2)
class(m)
df <- data.frame(v, f)
class(df)
class(TRUE)
class(NA)

### Criação de vetores

In [ ]:
# Utilizando a função c
c(1, 2, 3, 4, 5)

# Criando uma sequência
seq(length=10, from=1, by=1)

# Ou mesmo
seq(1,10)

# Quem sabe replicando o mesmo objeto diversas vezes
rep(1, times=5)

# Repetindo cada elemento 5 vezes
rep(c(1,2,3), each=5)

#### Propriedades de um vetor

In [ ]:
x <- c(1,2,3,4)
# Verificando o tipo de x
class(x)
# verificando o tamanho de x
length(x)
# verificando as dimensões de x
dim(x)

#### Vetores lógicos

In [ ]:
c(3, 4, 1, -2, -3, 5) > 0

### Nomeando os vetores

### Operações com vetores

Diferente de Python, indices de vetores em R começam com 1

In [ ]:
vetor(c(2,3,4))
vetor[2:5]

### Matrizes

In [ ]:
m<- matrix(c(1,2,3,4), byrow=TRUE, nrow=2)
m
colnames(m) <- c('c1', 'c2')
rownames(m) <- c('l1', 'l2')
m
## OU

m2 <- matrix( c(1,2,3,4), byrow=TRUE, nrow=2,
            dimnames = list(c('c1', 'c2'), c('c1', 'c2')))

# Adicionando nova coluna
matriz <- cbind(m,c(5, 6))
matriz
# Adicionando nova linha
matriz <- rbind(m, c(7, 8))
matriz
# Somando colunas
# colsum

# Somando linhas
# rowsum

# Selecionando pedaços
# Todos elementos da 1 linha
# matrix[1, ]

# Todos elementos da 2 coluna
# matrix[, 2]

### Factors

Estruturas utilizadas para variáveis categóricas

In [69]:
f <- factor(c('M', 'F', 'M', 'F', 'F'))
f

# Criando um fator com noção de grandeza entre seus níveis
alturas <- c('Baixo', 'Médio', 'Baixo', 'Médio', 'Alto')
alturasf <- factor(alturas, order = TRUE, levels = c('Baixo', 'Médio', 'Alto'))
alturasf
alturasf[1] > alturasf[2]

[1] Baixo Médio Baixo Médio Alto
Levels: Baixo < Médio < Alto

[1] FALSE

### Dataframes
Conjunto de dados

In [ ]:
nome <- c('Jose', 'Ana', 'Joao', 'Maria', 'Carmem')
idade <- c(41, 34, 25, 37, 23)
df <- data.frame(nome, idade, f)
names(df) <- c('Nome', 'Idade', 'Sexo')
df

In [ ]:
df$Nome
class(df$Nome)

### Lists

Lista são coleções ordenadas com objetos múltiplos de tipos.

In [ ]:
l <- list('Jose', 41, 'M', 2500.00)
l

### Básico para trabalhar com R
Algumas funções úteis para trabalhar com R, que ainda não foram exploradas neste notebook

Para isso, vamos importar o dataset de estudo de teste de motor de carros, para ter uma pequena amostra do poder de R. 

Informações sobre o pacote datasets pode ser encontrado [aqui](https://stat.ethz.ch/R-manual/R-devel/library/datasets/html/00Index.html)

In [73]:
# Carregando o dataset
data(mtcars)
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [ ]:
# Mostrando informações sobre o dataset
summary(mtcars)

In [ ]:
# Primeiros registros
head(mtcars)

In [ ]:
# Ultimos registros
tail(mtcars)

In [75]:
# Formas de acessar informações do dataframe

# Acessando a coluna mpg
mtcars$mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [76]:
# Acessando a primeira linha
mtcars[1, ]

          mpg cyl disp hp  drat wt   qsec  vs am gear carb
Mazda RX4 21  6   160  110 3.9  2.62 16.46 0  1  4    4

In [77]:
# Acessando a coluna 3
mtcars[, 3]

 [1] 160.0 160.0 108.0 258.0 360.0 225.0 360.0 146.7 140.8 167.6 167.6 275.8
[13] 275.8 275.8 472.0 460.0 440.0  78.7  75.7  71.1 120.1 318.0 304.0 350.0
[25] 400.0  79.0 120.3  95.1 351.0 145.0 301.0 121.0

In [78]:
# Acessando uma fatia do dataset
mtcars[2:8, 3:6]

                  disp  hp  drat wt
Mazda RX4 Wag     160.0 110 3.90 2.875
Datsun 710        108.0  93 3.85 2.320
Hornet 4 Drive    258.0 110 3.08 3.215
Hornet Sportabout 360.0 175 3.15 3.440
Valiant           225.0 105 2.76 3.460
Duster 360        360.0 245 3.21 3.570
Merc 240D         146.7  62 3.69 3.190